<!DOCTYPE html>
<html>
    <head>
        <!-- Meta Content -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Title -->
        <title>Todo Flask</title>

        <!-- Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
    </head>
    <body>
        <!-- Main Layout -->
        <div class="ld-main">
            <!-- Navbar -->
            <div class="ld-nav">
                <div class="ld-nav-left-end">
                    <h1 class="ld-nav-title">Todo Flask</h1>
                </div>
            </div>

            <!-- Main Content -->
            <div class="ld-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
