{% extends 'default.html' %}
{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <ul class="mdl-list">
            {% for todo in todos %}
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">{{ todo.text }}</span>
                    <a class="mdl-button mdl-js-button mdl-button--accent mdl-list__item-secondary-action" href="/todos/{{ todo._id }}/edit">Edit</a>
                    <a class="mdl-button mdl-js-button mdl-button--accent mdl-list__item-secondary-action" href="/todos/{{ todo._id }}/delete">Delete</a>
                </li>
            {% endfor %}
            <li class="mdl-list__item">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="/todos/create">Create Todo</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

<!-- Rockwell Retro Encabulator -->
