{% extends 'default.html' %}
{% block content %}
<form class="ld-form" action="" method="post">
    {{ todo.form.hidden_tag() }}
    <div class="ld-form-row">
        <div class="ld-form-input-group">
            {{ todo.form.text(value=todo.text, class_='ld-form-input-field', id='input') }}
            <label class="ld-form-input-label" for="input">New Task...</label>
        </div>
        <input class="ld-form-submit" type="submit" value="{{ handle }}">
    </div>
</form>
<p class="ld-action-set">
    <a class="ld-action-link" href="/">Cancel</a>
</p>
{% endblock %}
